:root {
    color: white
    link-color-hover: rebeccapurple
    heading-font-family:"Raleway", sans-serif;
    text-font-family:"Roboto", sans-serif;
}

* {
    font-family: var(--text-font-family);
}

ul {
    list-style-type: none;
}

.global-header .main-nav a:hover {
    color: var(--link-color_hover);
    cursor: pointer;
}

button {
    cursor: pointer;
}

button:active {
    background-color: #8309f5;
    /* Culoarea dorită când butonul este apăsat */
    color: white;
    /* Culoarea textului pentru contrast */
}




.nav-bar a,
.nav-bar a:visited{
    color: var(--text-font-family);
    font-weight: 500;
}
